<div ng-controller="myCtrl">
	<div class="col-lg-6">
		<h3 class="editor-tit">Preview</h3>
		<form action="" name="signUpForm" ng-submit="submitForm()">
			<div class="form-group" ng-show="bu">
				<panelun></panelun>
				<panelnotempty></panelnotempty>
			</div>
			<div class="form-group" ng-show="bs">
				<panelbtn></panelbtn>
			</div>

			<div class="form-group">
				<label  for="">password</label>
				<input  type="password" 
						name="password"
						class="form-control" 
						required 
					 	ng-model="userdata.password">
			</div>
			<div class="form-group">
				<label for="">confirm password</label>
				<input  type="password"
						name="confirm_password" 
						class="form-control" 
						required 
					 	ng-model="userdata.confirm_password">
			</div>
			<div class="form-group">
				<label for="">email</label>
				<input  type="email" 
						name="email" 
						class="form-control" 
					 	ng-model="userdata.email">
			</div>
			<button class="btn btn-primary" ng-disabled="signUpForm.username.$invalid">提交</button>	
		</form>
	</div>
	<div class="col-lg-6 config">
		<h3 class="editor-tit">Configuration</h3>
		<ul class="list-group">
			<li class="list-group-item">
				<input type="checkbox" name="username" ng-click="getbu()" ng-checked="bu">
				<label for="username">username</label>
			</li>
			<li class="list-group-item">
				<input type="checkbox" name="password" ng-click="getbp()" ng-checked="bp">
				<label for="password">password</label>
			</li>
			<li class="list-group-item">
				<input type="checkbox" name="confirm password" ng-click="getbcp()" ng-checked="bcp">
				<label for="password">confirm password</label>
			</li>
			<li class="list-group-item" >
				<input type="checkbox" name="submit" ng-click="getbs()" ng-checked="bs">
				<label for="password">submit</label>
			</li>
		</ul>
	</div>
</div>

